@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@400&display=swap');

/* font-family: 'Bree Serif', serif;
font-family: 'Roboto', sans-serif;*/

body{
    font-size: 1.08em;
    font-family: 'Roboto', sans-serif; 
}

h2,
h3 {
    font-family: 'Bree Serif', serif;
    font-weight: normal; 
    padding-bottom: 0.5em; 
}

h1{
    font-family: 'Bree Serif', serif;
    font-weight: Normal;
    font-size: 2.3em;
}

h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

p{
    margin-bottom: 1.8em; 
    line-height: 2.1em;
    font-size: 1.06em;
}
hr{
    margin-top: 1.5em; 
    margin-bottom: 2em;
}
figcaption{
    padding-top: 1em;
    padding-bottom: 1em;
}

header,
footer {
    text-align: center;
}
summary{
    font-size: 1.06em;
    font-weight: bold;
    line-height: 2em;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    color: black; 
    background-color: white; 
  
  }

  .centered-image {
    text-align: center;
  }
  img {
    width: 68vw; 
  }

  .skip-link {
    background: #f4f4f4;
    color: black;
    font-weight: 700;
    padding: 7px;
    margin: 5px; 
    position: absolute;
    transform: translateY(-200%);
  }
  
  .skip-link:focus {
    transform: translateY(0%); 
  }
  
  .skip-link {
    /* Same as  before */
    transition: transform 0.3s;
  }

.container{
    display: grid; 
    grid-template-columns: 
        1fr; 
    grid-template-areas:
        "head"
        "nav"
        "main";
    }

header{grid-area: head; background: #d4f9de;}
nav{grid-area: nav; background: black;}
main{grid-area: main; max-height: 100%;}
#aside1{grid-area:aside1;}

header,
nav,
main,
aside,
footer {
    padding: 1.5em;
}

nav ul {
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-around; 
}

nav ul li {
    list-style: none; 
}

nav ul li a:link{
    display: block;
    padding: 10px 5px;
    margin: 5px;
    margin-top: 10px; 
    margin-bottom: 10px;
    border: 2px #088387 solid;
    background: white;

    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif; 
    color: black;
}

nav ul li a:visited {
    color: #088387; 
}

nav ul li a:active {
    background: #f5f5f5;
    color: #BA0258;
}

@media screen and (min-width: 620px){
    .container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 
        1fr; 
        grid-template-areas: 
        "head"
        "nav"
        "main";
    }
    body{
        font-size: 1.07em; 
    }
    header{
        padding-top: 30px;
        padding-bottom: 30px; 
    }
    nav{
        padding-top: 5px;
        padding-bottom: 5px; 
    }
    main{
        max-width: 1100px;
        margin: 0 auto;
    }
    aside{
        margin-right: 1.5em;
        margin-left: 1.9em; 
    }
    nav ul{
        display: flex;
        flex-flow: row nowrap; 
        justify-content: space-around;
    }
    nav ul li a:link{
        display: block;
        padding: 5px 2.5px;
        margin: 5px;
        margin-top: 5px; 
        margin-bottom: 5px;
        border: none; 
        background: none;
    
        text-decoration: none;
        font-size: 1.1em;
        color: white;
    }
    nav ul li a:visited {
        color: white; 
    }
    
    nav ul li a:hover {
        color: #d4f9de;
    }
    
    nav ul li a:active {
        color: #badfe7;
    }
} 