@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */

body {
    background: lightcyan; 
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

/* Hide only visually, but have it available for screen readers: */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
  }

.container {
    margin: 0 auto;
    max-width: 960px;
}

h1 {
    font-size: 1.8em;
    font-family: 'Merriweather', serif;
}
h2 {
    font-size: 1.4em;
    font-family: 'Merriweather', serif;
}
p {
    line-height: 1.7em; 
    /* text-indent: 50px; */
}

.no-bullet{
    list-style: none; 
}
nav ul li a:link{
    list-style:none;
}

/* :link
:visited
:hover
:active */
